.top-sells-header {
    text-align: center;
    font-size: 2em;
}

.top-sells-header-container {
    margin-bottom: 3em;
}

.top-sells-item {
    text-align: center;
}

.top-sells-image {
    width: 15em;
}

.top-sells-item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
    grid-auto-rows: minmax(30em, max-content);
}