.product-container {
    display: grid;
    grid-template-columns: 5% 40% 5% 45% 5%;
}

.product-selected-image-container {
    display: flex;
    justify-content: center;
}

.product-all-images-container .product-image-container {
    cursor: pointer;
}

.product-selected-image-container {
    margin-bottom: 2em;
}

.product-image {
    opacity: .7;
    width: 4em;
}

.product-image-container div {
    display: flex;
    justify-content: center;
}

.product-mini-selected-image {
    opacity: 1;
}

.slick-next {
    right: -1rem;
}

.slick-prev {
    left: -1rem;
}