.purchase-list-header {
    text-align: center;
}

.purchase-list-header-container {
    margin-bottom: 4em;
}

.purchase-list-item {
    display: grid;
    grid-template-columns: 5% 10% 50% 10% 20% 5%;
    font-size: 1.5em;
}

.grey-separation-line {
    border: solid .06em gainsboro;
    border-radius: 1em;
    height: .01em;
}

.purchase-list-item-quantity-input {
    width: 2em;
    height: 1em;
}

.purchase-item-deleting-cross:focus,
.purchase-item-deleting-cross {
    border: 0;
    font-size: 1.2em;
}

.purchase-item-deleting-cross:hover {
    color: darkseagreen;
    cursor: pointer;
}

.purchase-list-column-info {
    font-size: 1.1em;
    font-weight: bold;
}

.purchase-list-item>div {
    padding: .7em 0;
    display: flex;
    justify-content: center;
}

.purchase-list-item>div>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 10;
}

.purchase-item-info-container {
    justify-content: start !important;
}

.purchase-item-name-container {
    width: 100%;
    overflow-wrap: anywhere;
}

.purchase-list-item-image {
    width: 10em;
}

.purchase-list-total {
    display: grid;
    grid-template-columns: 5% 20% 50% 20% 5%;
}

#purchase-total-price {
    z-index: 10;
}

.arrow-down {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
    height: min-content;
}

.purchase-item-quantity-arrow {
    height: .7em;
    border: 0;
    font-size: 1em;
}

.purchase-item-quantity-arrow:hover {
    color: darkseagreen;
    background-color: black;
    cursor: pointer;
    border-radius: .5em;
}

.purchase-item-quantity {
    flex-direction: column;
}

.purchase-item-quantity-arrow,
.purchase-item-quantity,
.purchase-item-quantity-container {
    display: flex;
    justify-content: center;
}

.purchase-item-quantity-container {
    justify-content: space-between;
    width: 1.2em;
}

@media (max-width: 1100px) {
    .purchase-item-info-container {
        display: block !important;
        height: min-content;
    }
    .purchase-item-info-container>div {
        margin: .3em 0;
    }
    .purchase-item-name-container {
        flex-direction: row !important;
    }
    .purchase-item-image-container {
        flex-direction: row !important;
    }
    .purchase-list-item-image {
        width: 20vw;
    }
}

@media (max-width: 750px) {
    .purchase-list-item {
        font-size: 1.2em;
    }
    .purchase-list-item-image {
        width: 30vw;
    }
    .purchase-list-item {
        display: grid;
        grid-template-columns: 2% 10% 50% 10% 26% 2%;
    }
    .purchase-list-total {
        display: grid;
        grid-template-columns: 2% 20% 50% 26% 2%;
    }
}

@media (max-width: 450px) {
    .purchase-list-item-image {
        width: 40vw;
    }
}